* {
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 2px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.cabecalho{
    background-color: hsla(277, 15%, 70%, 1);
    border: 4px dotted white;
}

.titulo-loja{
    font-size: 26pt;
    margin-left: 20px;
    float: left;
}

.menu-superior-direita ul{
    list-style-type: none;
    font-size: 14pt;
    
}

.menu-superior-direita li{ 
    display: inline;
    padding: 10px;
    position: relative;
    right: 0px;
    float: left;
}

.menu-principal{
    background-color: hsla(277, 4%, 15%, 1);
    color: white;
    border: 5px dotted white;
}

.menu-principal ul{
    list-style-type: none;
    font-size: 18pt;
    text-align: left;
}

/*.img-produto img{
    padding: 5px;
    border: 10px double black;
    margin:2%;
}*/
